<!-- src/app/components/tenis/tenis-list/tenis-list.component.html -->
<table mat-table [dataSource]="tenis" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let tenis">{{tenis.id}}</td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let tenis">{{tenis.nome}}</td>
  </ng-container>

  <ng-container matColumnDef="marca">
    <th mat-header-cell *matHeaderCellDef>Marca</th>
    <td mat-cell *matCellDef="let tenis">{{tenis.marca.nome}}</td>
  </ng-container>

  <ng-container matColumnDef="fornecedor">
    <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
    <td mat-cell *matCellDef="let tenis">{{tenis.fornecedor.nome}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>