
<!-- Barra de navegação com Angular Material -->
<mat-toolbar color="primary">
  <a mat-button routerLink="/">Início</a>
  <a mat-button routerLink="/colecoes">Coleções</a>
  <a mat-button routerLink="/marcas">Marcas</a>
  <a mat-button routerLink="/ofertas">Ofertas</a>
  <a mat-button routerLink="/contato">Contato</a>
</mat-toolbar>

<div>
    <h1>Sneaker Paradise</h1>
    <p>Seu Destino para Tênis de Estilo</p>
  </div>
  
  <nav>
    <a routerLink="/">Início</a>
    <a routerLink="/colecoes">Coleções</a>
    <a routerLink="/marcas">Marcas</a>
    <a routerLink="/ofertas">Ofertas</a>
    <a routerLink="/contato">Contato</a>
  </nav>
  
  <main>
    <h2>Destaques</h2>
  <!-- Grid de produtos utilizando Angular Material -->
  <div class="product-grid">
    <mat-card *ngFor="let product of products" class="product-card">
      <img mat-card-image [src]="product.image" alt="{{ product.name }}">
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>R$ {{ product.price.toFixed(2) }}</mat-card-subtitle>
      <button mat-button [routerLink]="['/produto', product.id]">Ver Detalhes</button>
    </mat-card>
  </div>
</main>
  
  <footer>
    <p>© {{ currentYear }} Sneaker Paradise. Todos os direitos reservados.</p>
  </footer>