.footer {
  background-color: #673ab7; /* DeepPurple do tema */
  color: white;
  padding: 24px 0; /* Diminuindo o padding para compactar a altura */
  margin-top: auto;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  text-align: center;
  margin: 16px 0; /* Diminuindo o espaçamento entre as seções */
}

.team-section h3 {
  font-size: 1.25rem; /* Font menor */
  margin-bottom: 16px;
  font-weight: 500; /* Ajustando o peso da fonte */
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px; /* Diminuindo o gap entre os membros */
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 130px; /* Diminuindo a largura dos membros */
}

.member-name {
  font-size: 1rem; /* Fonte menor */
  margin: 0;
  font-weight: 400; /* Ajustando o peso da fonte */
}

.member-social {
  display: flex;
  gap: 12px; /* Reduzindo o espaço entre os ícones */
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Ícones menores */
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.social-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.social-icon {
  fill: white;
  width: 18px; /* Ícones menores */
  height: 18px;
  transition: transform 0.3s ease;
}

.social-button:hover .social-icon {
  transform: scale(1.1);
}

mat-divider {
  margin: 16px 0; /* Diminuindo o espaçamento do divisor */
  background-color: rgba(255, 255, 255, 0.1);
}

.copyright {
  font-size: 0.85rem; /* Fonte menor */
  opacity: 0.8;
}

/* Responsividade */
@media (max-width: 768px) {
  .team-members {
    gap: 16px; /* Diminuindo o gap em telas médias */
  }

  .footer-section {
    margin: 12px 0; /* Menor espaçamento */
  }

  .team-section h3 {
    font-size: 1.25rem; /* Ajustando o tamanho do título */
  }

  .member-name {
    font-size: 0.9rem; /* Fonte menor em telas pequenas */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 16px 0; /* Menor padding em telas pequenas */
  }

  .team-section h3 {
    font-size: 1.125rem; /* Tamanho ajustado para telas pequenas */
  }

  .member-name {
    font-size: 0.875rem; /* Fonte menor */
  }

  .social-button {
    width: 35px; /* Ícones ainda menores */
    height: 35px;
  }

  .social-icon {
    width: 16px; /* Ícones menores */
    height: 16px;
  }
}
