<div class="all">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

  <mat-toolbar color="primary" class="titulo">
    <span class="toolbar-title">Controle de Avaliações</span>
    <button mat-fab color="accent" (click)="novaAvaliacao()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <div class="error-message" *ngIf="error">
    <mat-icon>error</mat-icon>
    <span>{{error}}</span>
  </div>

  <div class="container">
    <div class="input-container">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Pesquisar Avaliação</mat-label>
        <input
        [(ngModel)]="filtro"
        matInput
        placeholder="Ex: Ótimo tênis..."
        (ngModelChange)="onSearchChange($event)">
        <button mat-icon-button matSuffix (click)="filtrar()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="empty-state" *ngIf="!isLoading && avaliacoes.length === 0">
      <mat-icon>sentiment_dissatisfied</mat-icon>
      <p>Nenhuma avaliação encontrada</p>
    </div>

    <table mat-table [dataSource]="avaliacoes" class="mat-elevation-z8" *ngIf="avaliacoes.length > 0">
      <ng-container matColumnDef="linha">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let avaliacao; let i = index">
          {{ obterNumeroLinha(i) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let avaliacao">{{ avaliacao.id }}</td>
      </ng-container>

      <ng-container matColumnDef="tenis">
        <th mat-header-cell *matHeaderCellDef>Tênis</th>
        <td mat-cell *matCellDef="let avaliacao">{{ avaliacao.tenis.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef>Usuário</th>
        <td mat-cell *matCellDef="let avaliacao">{{ avaliacao.usuario.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="nota">
        <th mat-header-cell *matHeaderCellDef>Nota</th>
        <td mat-cell *matCellDef="let avaliacao">
          <div class="nota-container">
            {{ avaliacao.nota }}
            <mat-icon class="star-icon">star</mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="dataAvaliacao">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let avaliacao">
          {{ avaliacao.dataAvaliacao | date:'dd/MM/yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ativa">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let avaliacao">
          <mat-icon [ngStyle]="{'color': avaliacao.ativa ? 'green' : 'red'}">
            {{ avaliacao.ativa ? 'check_circle' : 'cancel' }}
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let avaliacao">
          <button
            mat-icon-button
            color="primary"
            [matTooltip]="'Editar'"
            (click)="editarAvaliacao(avaliacao.id)">
            <mat-icon>edit</mat-icon>
          </button>

          <button 
            mat-icon-button 
            color="warn"
            [matTooltip]="'Excluir'"
            (click)="excluir(avaliacao)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      [length]="totalRecords"
      [showFirstLastButtons]="true"
      (page)="paginar($event)">
    </mat-paginator>
  </div>
</div>