/* usuario-list.component.css */

.header {
  font-size: 24px;
  font-weight: bold;
  color: #17A2B8; /* Cor azul-água para usuários */
}

.item {
  background-color: #e7f6f9; /* Cor de fundo específica para usuários */
  border: 1px solid #17A2B8; /* Borda azul-água */
}
