<mat-toolbar color="primary">
  <nav>
    <a mat-button [routerLink]="['/']">Início</a>
    <a mat-button [routerLink]="['/produtos']">Produtos</a>
    <a mat-button [routerLink]="['/tenis']">Tênis</a>
    <a mat-button [routerLink]="['/marcas']">Marcas</a>
    <a mat-button [routerLink]="['/fornecedores']">Fornecedores</a>
  </nav>
</mat-toolbar>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer>
  <p>© {{ currentYear }} Sneaker Paradise. Todos os direitos reservados.</p>
</footer>