/* endereco-list.component.css */

.header {
    font-size: 24px;
    font-weight: bold;
    color: #FFC107; /* Cor amarela para endereços */
}

.item {
    background-color: #fff8e1; /* Cor de fundo específica para endereços */
    border: 1px solid #FFC107; /* Borda amarela */
}
