<div class="container">
  <h2>{{ formGroup.value.id ? 'Editar Fornecedor' : 'Novo Fornecedor' }}</h2>
  
  <form [formGroup]="formGroup" (ngSubmit)="salvar()">
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome">
      <mat-error>{{ getErrorMessage('nome', formGroup.get('nome')?.errors) }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="CNPJ" formControlName="cnpj">
      <mat-error>{{ getErrorMessage('cnpj', formGroup.get('cnpj')?.errors) }}</mat-error>
    </mat-form-field>

    <div formGroupName="endereco">
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado" (selectionChange)="onEstadoChange($event)">
          <mat-option *ngFor="let estado of estados" [value]="estado.id">
            {{ estado.nome }}
          </mat-option>
        </mat-select>
        <mat-error>{{ getErrorMessage('endereco.cidade.estado.nome', formGroup.get('endereco.cidade.estado.nome')?.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cidade</mat-label>
        <mat-select formControlName="cidade">
          <mat-option *ngFor="let cidade of cidades" [value]="cidade.id">
            {{ cidade.nome }}
          </mat-option>
        </mat-select>
        <mat-error>{{ getErrorMessage('endereco.cidade.nome', formGroup.get('endereco.cidade.nome')?.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="CEP" formControlName="cep">
        <mat-error>{{ getErrorMessage('endereco.cep', formGroup.get('endereco.cep')?.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Quadra" formControlName="quadra">
        <mat-error>{{ getErrorMessage('endereco.quadra', formGroup.get('endereco.quadra')?.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Rua" formControlName="rua">
        <mat-error>{{ getErrorMessage('endereco.rua', formGroup.get('endereco.rua')?.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Número" formControlName="numero">
        <mat-error>{{ getErrorMessage('endereco.numero', formGroup.get('endereco.numero')?.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Complemento" formControlName="complemento">
        <mat-error>{{ getErrorMessage('endereco.complemento', formGroup.get('endereco.complemento')?.errors) }}</mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">Salvar</button>
    <button mat-raised-button color="warn" type="button" (click)="excluir()" *ngIf="formGroup.value.id">Excluir</button>
  </form>
</div>